#chatbox {
  width: 100%;
  .header {
    height: 89px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    .user-name {
      margin-left: 10px;
    }
    .status {
      margin-left: 20px;
    }
  }
  .message-box {
    padding: 20px;
  }
  .input-container {
  }
}
