#chatbox {
  width: 100%;
  .header {
    height: 89px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    .user-name {
      margin-left: 10px;
    }
    .status {
      margin-left: 10px;
      display: flex;
      align-items: center;
      .status-badge {
        margin: 5px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #1ced84;
      }
    }
  }
  .body-container {
    .message-box {
      padding: 20px;
    }
    .input-container {
      background-color: #f4f6fa;
      border-radius: 20px;

      input {
        background-color: #f4f6fa;
        width: 100%;
        height: 70px;
        border: none;
        padding-left: 30px;
      }
    }
  }
}
